* {
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
}

html {
--colorBg: #009bff;
}

.body {
width: 100%;
height: 100%;
background-color: #2d2a9e;
background-image: linear-gradient(225deg, #2d2a9e 0%, #00072d 50%, #080071 100%);
}

.navbar {
width: 100%;
height: 40px;
padding-top: 1rem;
display: flex;
align-items: center;
justify-content: center;

}

.menu__links {
color: #fff;
text-shadow: 0 10px 10px rgba(255, 255, 255);
width: 100%;
display: inline-flex;
}

.menu__item:hover {
font-size: 1.3rem;
border-radius: 10px;
text-shadow: 0 10px 15px rgba(255, 255, 255);
cursor: pointer;
}

.menu__item {
margin: auto;
max-width: 40px;
padding: 8px;
position: relative;
}

.home {
width: 100%;
height: 40rem;
}

.titulo__home {
text-align: center;
color: #fff;
font-size: 4em;
padding-top: 2rem;
text-shadow: 0 20px 20px #fff;
}


.logo__content {
padding-top: 2rem;
}
.logo__conteiner {
position: relative;
}
.logo__txt {
padding-top: 3rem;
padding-bottom: 9rem;
margin: auto;
}

.slide {
margin-top: 4rem;
display: flex;
flex-direction: center;
justify-content: center;
align-items: center;
}
.slider 
{
box-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
width: 90%;
max-width: 70%;
height: 400px;
position: relative;
}

#slider img {
border-radius: 10px;
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0;
transition: opacity 1.5s;
}
#slider img.selected {
opacity: 1;
}
.title {
  color: #fff;
}
.title.imc {
  padding-top: 1rem;
}
.perfil {
  width: fit-content;
  width: max-content;
  margin: 4rem auto;
  font-size: 2.5rem;
}
.main__card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0 ,0 ,0,0.4);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
  margin-left: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.form__container {
  width: 300px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
.form__group {
  width: auto;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__group.b{
  display: flex;
  flex-direction: row;
}
.label {
  color: #fff;
}
.input {
  color: #fff;
  border-radius: 5px;
}
.buttons {
  width: 100px;
  padding: .3rem;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: .5rem
}
.form__result {
  width: auto;
  height: auto;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
}
.result {
  width: 300px;
  height: 120px;
  padding: 0 1rem;
}
.icon:hover {
width: 61px;
height: 61px;
box-shadow: 0 0px 20px rgb(174, 0, 255);
}
.menu__icons {
display: grid;
margin-top: 5rem;
grid-template-columns: repeat(7, 1fr);
margin-left: 15px;
}
.treinos {
width: 100%;
height: 70rem;
display: grid;
flex-direction: center;
justify-content: center;
align-items: center;
}
.h1t {
color:#fff;
}
.cards__conteiner {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
gap: 1rem;
}

@media (min-width: 453px) and (max-width: 767px) {
.cards__conteiner {
grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 768px) and (max-width: 890px) {
.cards__conteiner {
grid-template-columns: repeat(3, 1fr);
}
}
.card__exercicio {
margin-bottom: 2rem;
display: grid;
background-color: rgba(211 ,211 ,211,0.7);
align-items: center;
top: 5rem;
position: relative;
max-width: 200px;
box-shadow: 0 0 10px rgba(0 ,0 ,255,0.4);
border-radius: 5px;
}

.info {
position: absolute;
color: #fff;
border-radius: 5px;
transition: 1s;
width: 200px;
}

.card__exercicio img {
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 5px;
transition: 1s;
}

.info h2 {
position: absolute;
}

.titulo__card {
font-size: 0.8rem;
}